:root {
  --cornflower: #e7e9fc;
  --white: #fff;
  --slate: #434455;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--slate);
  text-decoration: none;
}
html,
body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 1158px;
  text-decoration: none;
  width: 1158px;
  margin:  0 auto;
  padding: 0 15px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
p {
  font-family: "Roboto", sans-serif;
}

/*header bölümü*/
html,
.header-one{
  border: 1px solid #e7e9fc;
  background-color: white;
  width: 1440px;
  height: 72px;
  display: flex;
  flex-direction: column;
}

 .upper-part {
  display: flex;
  justify-content: space-between;
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 24px;
    
}

.header-one .upper-part .logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.header-one .upper-part .studio-first {
  width: 71px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-one .upper-part .list-one {
  display: flex;
  gap: 40px;
  transform: translate(-50%, 0);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  align-items: center;
}
.page-one {
  padding: 24px 0;
}
.header-one .upper-part .list-one a:hover {
  color: #4d5ae5;
}

.header-one .upper-part .address-one {
  display: flex;
  gap: 40px;
}
.header-one .upper-part .address-one a {
  color: #2e2f42;
}
.header-one .upper-part .address-one a:hover {
  color: #4d5ae5;
}
/* header bölümü bitti*/
/* main bölümü*/

.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  text-align: center;
  padding: 188px 0;
}

.hero .main-hero {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: var(--white);
  margin: 48px auto;
  max-width: 496px;
}

.hero .button-one {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: auto;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  border: none;
}

.hero .button-one:hover,
.hero .button-one:focus,
.hero .button-one:active {
  background-color: #404bbf;
}

.first-sec {
  padding: 120px 0;
  width: 1128px;
  margin: 0 auto;
}
.visually-hidden {
    position:absolute;    /* Öğeyi sayfanın dışında konumlandırır */
    width: 1px;            /* Çok küçük bir genişlik */
    height: 1px;           /* Çok küçük bir yükseklik */
    margin: -1px;          /* Margini eksi bir piksel olarak ayarlar */
    padding: 0;            /* İç boşluğu sıfırlar */
    overflow: hidden;      /* Taşan içerikleri gizler */
    clip: rect(0, 0, 0, 0);/* Görsel olarak öğeyi görünmez yapar */
    border: 0;             /* Sınırları sıfırlar */
}
.first-sec .first-ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.first-sec .first-ul .first-a {
  width: calc(100% - 72px / 4);
}

.first-sec .first-ul .first-a .first-h {
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.first-sec .first-ul .first-a p {
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.second-sec {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}
.second-sec .our-one {
 
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  
}

.second-sec .second-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
  color: #ffffff;
  
}
.product-designer {
  padding: 32px 0;
}
.second-sec .second-ul .team-list {
  box-shadow: 0 2px 4px #2e2f42;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: calc(100% - 72px / 4);
}

.second-sec .second-ul .team-list .team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}
.second-sec .second-ul .team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  text-align: center;
}
.frontend-developer {
  padding: 32px 0;
}
.market-ing {
  padding: 32px 0;
}
.designer-uı {
  padding: 32px 0;
}
.third-sec {
  display: flex;
  padding: 120px 0;
  text-align: center;
}

.third-sec .our-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.third-sec .our-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  column-gap: 24px;
  row-gap: 48px;
}
.third-sec .our-ul .our-list {
  width: calc(100% - 72px / 4);
  background-color: #ffff;
  margin-top: 72px;
  text-align: left;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.bank-app{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.third-sec .our-ul h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
}
.third-sec .our-ul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
  padding-left: 156px;
  margin-top: 100px;
  
}
.footer .logo-end {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer .studio-1 {
  width: 71px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.footer .footer-p {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 18px;
  transform: translate(-45%, 0);
}
